extends layout

block content
  h1= title
  p Welcome to #{title}
    div(class="control")
      table
        tr
          td
          td F
          td
        tr
          td R
          td S
          td L
        tr
          td
          td B
          td
